// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $off-white;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.title {
  color: $title-color;
  font-size: 22px;
}

.card-blue-header {
  border-color: $blue!important;
  .card-header {
      background-color: $blue;
      color: $white;
      &:first-child {
        border-radius: 0;
      }
  }
}

.card-red-header {
  border-color: $red !important;
  .card-header {
      background-color: $red;
      color:  $white;
      &:first-child {
        border-radius: 0;
      }
  }
}
.form-sharp-corner {
  .form-control {
    border-radius: 0;
  }
}
.radious-0 { border-radius: 0 !important;}
.custom-switch {
  .custom-control-label{ 
    &::before {
      // width: 3rem !important;
      background-color: #D7D7D7;
      border: 0;
    } 
    &::after {
      background-color: #fff !important;
    }
  }
}
.tbl-bordered-td {
  td{
    padding-top: .5rem !important; 
    padding-bottom: .5rem !important; 
  }
} 

.follow-up {
  .custom-checkbox {
    .custom-control-label {
      &::before {
        border-radius: 0;
        border: #489CFC solid 1px;
        height: 1.2rem;
        width: 1.2rem;
        top: 3px;
      }
      &::after {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    .custom-control-input {
      &:checked {
        &~.custom-control-label { 
            &::after { top: 3px; }
        }
      }
    }
  } 
}

button.page-link {
  display: inline-block;
  color: #012d52;
  &:focus{ outline: none; }
  &:visited{ outline: none; }
  &:hover{color: #012d51}
  &[disabled] {
    background: #e9ecef;
    color: #012d51;
  }
}

.offset {
  width: 500px !important;
  margin: 20px auto;
}
.row {  margin-top: 30px; }