.login-body {
  background: $primary-color;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;

  .brand-header {
    display: flex;
    color: #FAFAFA;

    .brand-icon {
      img {
        width: 200px;
      }
    }

    .brand-text {
      margin-top: 12px;
      margin-left: 22.86px;
    }
  }

  .login {
    margin: 0 auto;
    width: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    .login-screen {
      background-color: #FFF;
      padding: 20px;
      border-radius: 5px;

      .app-title {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 30px;
      }

      .login-form {

        .input-group-text {
          background: transparent;
        }

      }
    }
  }
}