.login-body {
  background: $primary-color;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;

  .brand-header {
    display: flex;
    color: #FAFAFA;

    .brand-icon {
      img {
        width: 200px;
      }
    }

    .brand-text {
      margin-top: 12px;
      margin-left: 22.86px;
    }
  }

  .login {
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    .login-screen {
      background-color: #FFF;
      padding: 40px;
      border-radius: 5px;

      .login-title {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 30px;
      }

      .login-title-msg {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        width: 50%;
      }

      .login-form {

        .error {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #CF0026;
        }

        .input-group {
          .input-group-text {
            background: transparent;

            i {
              color: #666666;
              width: 20.83px;
              height: 16.67px;
              font-size: 20px;

              &.fa-eye {
                color: #9E9E9E;
                margin-right: 9px;
              }
            }
          }

          &:focus + .input-group-prepend {
            outline: 0;
            border-color: #66afe9;
          }
        }

        input {
          height: 49px;

        }

        .login-btn {
          width: 100%;
          background: #0276BD;
          border-radius: 4px;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          color: #ffffff;
          padding: 18px 0;
        }

        .forgot-pass {
          width: 100%;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          font-weight: normal;

          a {
            color: rgba(0, 0, 0, 0.87);
            text-decoration: none;
          }
        }

      }
    }
  }
}