.modal-dialog {
    .modal-content {
        padding: 17px 22px 12px 22px;
    }
    .modal-body {
        padding: 20px 0px;
    }
    .modal-footer {
        border-top: none;
        font-size: 16px;
        padding: 0px;
    }

    .modal-header {
        border-bottom: none;
        padding: 0px;
        .title {
            font-size: 18px;
            font-weight: 600;
            padding: 0 0 10px 0;
            border-bottom: none;
        }
    }
}
